@import url(./_inactive/popup__save-button_inactive.css);


.popup__save-button {
  max-width: 83.26%;
  width: 100%;
  /* min-height: 50px; */
  padding: 14px 0 18px;
  margin: 33px 36px 36px;
  background-color: #000000;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  border-radius: 2px;
  border: none;
}

.popup__save-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 480px) {

  .popup__save-button {
    max-width: 84.4%;
    /* height: 46px; */
    padding: 14px 0 14px;
    margin: 30px 22px 25px;
    font-size: 14px;
    line-height: 17px;
  }

}