@import url(../popup/popup-edit-profile/popup-edit-profile.css);
@import url(popup-add-place/popup-add-place.css);
@import url(../popup/popup-photo/popup-photo.css);
@import url(../popup/popup-edit-avatar/popup-edit-avatar.css);
@import url(../popup/popup-remove-card/popup-remove-card.css);

.popup {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s linear, opacity 0.5s linear;
}